/journal
/db.sqlite3*
Session.vim
/.venv
/assets
/logs
/.coverage
/tmp
/media
/.idea
.env

__pycache__
.*.swp

/etebase_server_settings.py
/secret.txt
/docker/test-server/etebase-server.ini
/build
/dist
/data
/*.egg-info
